<section class="row" id="list-search">

      <div class="col s12">
			<div class="collection with-header z-depth-4">
				  <div class="collection-header"><h4>Impressora</h4><span>Problemas relacionados a impressoras .</span></div>
				  <a ng-href="#/problemDetail/312312" class="collection-item avatar">
					  <i class="material-icons circle green">insert_chart</i>
					  <span class="title">Title</span>
					  <p lingdex="3">Description</p>
				  </a>
				  <a ng-href="#/problemDetail/331231" class="collection-item avatar">
					  <i class="material-icons circle green">insert_chart</i>
					  <span class="title">Title</span>
					  <p lingdex="3">Description</p>
				  </a>
				  <a ng-href="#/problemDetail/33" class="collection-item avatar">
					  <i class="material-icons circle green">insert_chart</i>
					  <span class="title">Title</span>
					  <p lingdex="3">Description</p>
				  </a>
			</div>

        </div>

</section>
