<section class="row" id="list-search">

      <div class="col s12">
			<div class="collection with-header z-depth-4">
				  <div class="collection-header"><h4>Impressora</h4><span>Soluções relacionadas ao problema escolhido .</span></div>
				  <a href="javascript:;" ng-click="toggleModal()" class="collection-item avatar">
					  <i class="material-icons circle green">insert_chart</i>
					  <span class="title">Title</span>
					  <p lingdex="3">Description</p>
				  </a>
				  <a href="javascript:;" ng-click="toggleModal()" class="collection-item avatar">
					  <i class="material-icons circle green">insert_chart</i>
					  <span class="title">Title</span>
					  <p lingdex="3">Description</p>
				  </a>
				  <a href="javascript:;" ng-click="toggleModal()" class="collection-item avatar">
					  <i class="material-icons circle green">insert_chart</i>
					  <span class="title">Title</span>
					  <p lingdex="3">Description</p>
				  </a>
			</div>

        </div>

        <modal title="Passo à Passo" visible="showModal">

                <div class="page-header text-center">

                    <div id="status-buttons" class="text-center">
                        <a class="active"><span>1</span> Profile</a>
                        <a ><span>2</span> Interests</a>
                        <a ><span>3</span> Payment</a>
                    </div>
                </div>

                <div class="card-panel teal">
                  <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                  </span>
                </div>
                <div class="center">
                        <a class="waves-effect waves-light btn"><i class="material-icons right">done</i>Next Section</a>
                </div>

         </modal>


</section>
